/**
* set padding to make room for bootstrap menu
*
*/
body {
    padding-top: 60px;
    padding-bottom: 30px;
}

/*
* need to set the height for objects
* set top padding to make room for selection toolbar
*/
div.qvobject, div.qvplaceholder {
    padding: 30px 10px 10px 10px;
    height: 400px;
}
#main{
    width: 100%;
    padding: 0px; 
}

.header {
    display: table;
    position: relative;
    margin-top: -20px;
    width: 100%;
    height: 30%;
    background: url(leaf.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    z-index: -99;

}
.content-section-a {
    background-color: #ECF0F1;
}
.navbar {
    margin-bottom: 0 !important;
}
#footer {
    background-color: #FEC956;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: -30px;
}
#popup{
    background-color: #7f8c8d;
    color: #FFFFFF;
    position:absolute;
    padding: 10px;
    margin: 10px;
    bottom:0;
    right: 0;
    display:none;
    border-radius:5px;
}

.borderShadow{
    margin: 15px 0px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 0px 16px -5px rgba(50, 50, 50, 0.52);
    -moz-box-shadow:    0px 0px 16px -5px rgba(50, 50, 50, 0.52);
    box-shadow:         0px 0px 16px -5px rgba(50, 50, 50, 0.52);
}
